@media screen and (max-width: 768px) {
    :root {
        --tetris-block-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    :root {
        --tetris-block-size: 35px;
    }

    #game-info {
        justify-content: space-between;
    }

    .round-button{
        width: 80px;
        height: 80px;
    }

    #change-piece{
        width: 120px;
        height: 120px;
    }

    .game-info-row{
        margin-bottom: 30px;
    }

    #game-info{
        width: 250px;
    }

    #score, #high-score, #level, #lines {
        height: 50px;
        line-height: 50px;
    }

    #navigation-directions {
        width: 40%;
    }

    #change-piece-button-container {
        width: 60%;
    }
}